/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*===========================================
   All Properties Are Define  
  ================================================*/

:root {
  --parent: #ffffff;
  --main: #675AFE;
  --form-input_border: #999;
  --option_bgcolor: #888;
  --button_hover: #4534fe;
  --white: #ffffff;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::selection {
  color: var(--white);
  background: var(--black);
}

.navbar {
  background-color: var(--main);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 1.6rem 1rem;
  position: sticky;
  top: 0;
  border-bottom: 2px solid var(--white);
}

.logout-btn{
  text-decoration: none;
  color: var(--main);
  background-color: var(--white);
  padding: 4px 14px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: ease-in-out 0.3s;
  -webkit-transition: ease-in-out 0.3s;
  -moz-transition: ease-in-out 0.3s;
  -ms-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;

  &:hover{
    color: var(--white);
    background-color: var(--button_hover);
  }
}
.nav-list {
  width: 100%;
  display: flex;
}

.nav-list li {
  list-style: none;
  margin-left: 2rem;
  

}

.nav-list li a {
  text-decoration: none;
  color: var(--white);
  font-size: 18px;
  
}

li a::after {
  content: '';
  width: 0;
  height: 3px;
  background-color: var(--white);
  margin: auto;
  display: block;
}

li a:hover::after {
  width: 100%;
  transition: width 0.3s ease-in-out;
}

.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  padding: 0 10px;
  background: var(--main);
}

.child {
  width: 370px;
  padding: 30px;
  border-radius: 7px;
  background: var(--white);
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
}

.child header {
  font-size: 28px;
  font-weight: 500;
  text-align: center;

}

.child form {
  margin: 40px 0 20px 0;
}

form :where(input, select, button) {
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: none;
}

form .en-amt {
  font-size: 18px;
  margin-bottom: 5px;
  margin-top: -1rem;
}

form .fname {
  font-size: 18px;
  margin-bottom: 5px;
}

form .to {
  font-size: 18px;

}

form input {
  height: 50px;
  font-size: 17px;
  padding: 0 15px;
  border: 1px solid var(--form-input_border);
}

form input:focus {
  padding: 0 14px;
  border: 2px solid var(--main);
}

form .drop-list {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}

.drop-list .select-box {
  display: flex;
  width: 115px;
  height: 45px;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  border: 1px solid var(--form-input_border);
}

.select-box img {
  max-width: 21px;
}

.select-box select {
  width: auto;
  font-size: 16px;
  background: none;
  margin: 0 -5px 0 5px;
}

.select-box select::-webkit-scrollbar {
  width: 8px;
}

.select-box select::-webkit-scrollbar-track {
  background: var(--white);
}

.select-box select::-webkit-scrollbar-thumb {
  background: var(--option_bgcolor);
  border-radius: 8px;
  border-right: 2px solid var(--white);
}

.drop-list .icon {
  cursor: pointer;
  margin-top: 30px;
  font-size: 22px;
}


form button {
  height: 52px;
  color: var(--white);
  font-size: 17px;
  cursor: pointer;
  background: var(--main);
  transition: 0.3s ease;
  margin-top: 1rem;
}

form button:hover {
  background: var(--button_hover);
}

.result{
  margin-top: 1rem;
}